* {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  background: url(https://media.istockphoto.com/photos/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-picture-id1188030698?b=1&k=6&m=1188030698&s=170667a&w=0&h=g2evBkDG-PEB85K4Ou3QBCfFKKf9K0dmqFjeG8WwKNs=)
    no-repeat center center fixed;
  background-size: cover;
  font-size: 20px;
  font-weight: absolute;
}

.app {
  color: rgb(31, 31, 31);
}
